body {
  background-image: url("https://img.etimg.com/thumb/msid-75784536,width-640,resizemode-4,imgsize-165635/vaccination.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
}
